#map{
    height: 30vw;
    width: 90vw;
    border-radius: 2vw;

    position: relative;
    left: 5%;
}

body{
    background-color: #1d1a1a;
}

.latlong-view{
    color:#f5eded;
}

.form-group{
    padding-top: 2vw;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.form-group label{
    font-size: 2vw;
    color: #f5eded;
    padding-right: 1vw;

}

.form-group input{
    font-size: 1vw;
    background-color: #f5eded;
    border-radius: 1vw;
    border-width: 0.3vw;
    
    border-color: #d72323;
    width: 30vw;
}

.latlong-view{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1vw;
}

.latlong-view p{
    font-size: 2vw;
    margin-right: 3vw;
    margin-left: 3vw;
}

.submitPart{
    display: flex;
    width: 100vw;
    justify-content: center;
}

.DiscordName{
    display: flex;
    height: 3vw;
    width: 80%;
    border-width: 0.3vw;
    border-radius: 1vw;
    font-size: 2vw;
    text-align: center;
    border-color: #d72323;
    margin-left: 9.5%;
}

.AddToList{
    
    margin-top: 1vw;
    margin-left: 10%;
    height: 3vw;
    width: 80%;
    border-width: 0.3vw;
    border-radius: 1vw;
    border-color: #d72323;
    font-size: 2vw;
    text-align: center;
}

.AddToList:hover{
    background-color: #7e7a7a;
}

.FindPeople{
    display: flex;
    width: 100vw;
    justify-content: center;
}

#FindPeople p{
    font-size: 2vw;
    color: #f5eded;
    text-align: center;
    margin-right: 3vw;
    margin-left: 3vw;
    margin-top: 4vw;
}


.Radius{
    display: flex;
    height: 3vw;
    width: 80%;
    border-width: 0.3vw;
    border-radius: 1vw;
    font-size: 2vw;
    text-align: center;
    border-color: #d72323;
    margin-left: 9.5%;
}

.FindPpl{
    margin-top: 1vw;
    margin-left: 10%;
    height: 3vw;
    width: 80%;
    border-width: 0.3vw;
    border-radius: 1vw;
    border-color: #d72323;
    font-size: 2vw;
    text-align: center;
}

b{
    word-wrap: break-word;
}









@media only screen and (max-width: 1500px) {
    


    #map{
        height: 90vw;
        width: 90%;
        border-radius: 2vw;
        position: relative;
        left: 5%;
    }
    
    body{
        background-color: #1d1a1a;
    }
    
    .latlong-view{
        color:#f5eded;
    }
    
    .form-group{
        padding-top: 2vw;
        display: flex;
        justify-content: center;
    }
    
    .form-group label{
        font-size: 8vw;
        color: #f5eded;
        padding-right: 1vw;
    
    }
    
    .form-group input{
        font-size: 3vw;
        background-color: #f5eded;
        border-radius: 2vw;
        border-width: 0.3vw;
        
        border-color: #d72323;
        height: 10vw;
        width: 50%;
    }
    
    .latlong-view{
        padding-top: 1vw;
        display: flex;
        justify-content: center;
    }
    
    .latlong-view p{
        display: grid;
        justify-content: center;
        font-size: 5vw;
        padding-right: 5vw;
    }
    
    .submitPart{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    
    .DiscordName{
        display: flex;
        height: 12vw;
        width: 90%;
        border-width: 0.3vw;
        border-radius: 1vw;
        font-size: 5vw;
        text-align: center;
        border-color: #d72323;
        margin-left: 4%;
        
    }
    
    .AddToList{
        display: flex;
        margin-top: 5vw;
        margin-left: 5%;
        text-align: center;
        height: 12vw;
        width: 90%;
        border-width: 0.3vw;
        border-radius: 1vw;
        border-color: #d72323;
        font-size: 5vw;
    }
    
    .AddToList:hover{
        background-color: #c7c2c2;
    }





    .FindPeople{
        display: flex;
        width: 100vw;
        justify-content: center;
    }
    
    #FindPeople p{
        font-size: 2vw;
        color: #f5eded;
        text-align: center;
        margin-right: 3vw;
        margin-left: 3vw;
        margin-top: 4vw;
    }
    
    
    .Radius{
        display: flex;
        height: 5.5vw;
        width: 90%;
        border-width: 0.3vw;
        border-radius: 1vw;
        font-size: 5vw;
        text-align: center;
        border-color: #d72323;
        margin-left: 4.5%;
    }
    
    .FindPpl{
        margin-top: 1vw;
        margin-left: 5%;
        height: 6vw;
        width: 90%;
        border-width: 0.3vw;
        border-radius: 1vw;
        border-color: #d72323;
        font-size: 4vw;
        text-align: center;
    }
    
    b{
        font-size: 5vw;
        word-wrap: break-word;
    }

}

